VITE_API_URL=https://your-backend.onrender.com
VITE_GOOGLE_CLIENT_ID=1095741189315-2lu2ubnp38ah9j1q1l8h9ro5u4audnl2.apps.googleusercontent.com
VITE_CAL_PERSONAL=dh.kohli@gmail.com
VITE_CAL_PICTURIZZE=picturizze@gmail.com
VITE_CAL_ITC=dkohli@itconvergence.com
